extends ../../layouts/sign

block content
  h5 Register

  .register-option
    a.btn.btn-email(href='/auth/email-register')
      i.fa.fa-envelope.social-icon(aria-hidden='true')
      |  Register with Email

    a.btn.btn-primary(href='#')
      i.fa.fa-envelope.social-icon(aria-hidden='true')
      |  Register with Phone Number
