#favorites.sidebar
      header
        span Friend request
        ul.list-inline
          li.list-inline-item.d-lg-none.d-sm-block
            a.btn.btn-light.sidebar-close(href='#')
              i.ti-close
      .sidebar-body#list-request(tabindex='5' style='overflow: hidden; outline: none;')
          
