extends ../../layouts/app

block content
  // sidebar group
  .sidebar-group
    // Chats sidebar
    include partials/chats-sidebar

    // Friends sidebar
    include partials/friends-sidebar

    // Favorites sidebar
    include partials/favorites-sidebar

  // chat
  .chat
    .chat-header
      .chat-header-user
        figure.avatar.avatar-lg
          img.rounded-circle#currentChattingAvatar(src='dist/images/man_avatar3.jpg')
        div
          h5#currentChattingName ---
          small.text-muted
            i Online
      .chat-header-action
        ul.list-inline
          li.list-inline-item
            a.btn.btn-success(href='#')
              i.fa.fa-phone(aria-hidden='true')
          li.list-inline-item
            a.btn.btn-secondary(href='#')
              i.fa.fa-video-camera(aria-hidden='true')
          li.list-inline-item
            a.btn.btn-secondary(href='#' data-toggle='dropdown' aria-expanded='false')
              i.ti-more
            .dropdown-menu.dropdown-menu-right(x-placement='bottom-end' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1222px, 68px, 0px);')
              a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
              a.dropdown-item(href='#') Add to archive
              a.dropdown-item(href='#') Delete
              .dropdown-divider
              a.dropdown-item(href='#') Block
    .chat-body#chat-body(tabindex='2' style='outline: none;')
      // .no-message
      //
        <div class="no-message-container">
        <i class="fa fa-comments-o"></i>
        <p>Select a chat to read messages</p>
        </div>
      .messages#messsages
    .chat-footer
      form#messageFrom(action='')
        input.form-control#messageContent(type='text' placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby='button-addon2')
        input#receiverId(type='hidden')
        .form-buttons
          button.btn.btn-light.btn-floating(type='button')
            i.fa.fa-paperclip
          button.btn.btn-light.btn-floating(type='button')
            i.fa.fa-microphone
          button.btn.btn-primary.btn-floating(type='submit')
            i.fa.fa-send
  // ./ chat
  include partials/friend-profile
